{% extends 'base.html' %}
{% load static %}
{% block title %} Research Chart {% endblock %}
{% block link %}{% static 'css/research_chart.css' %}{% endblock %}
{% block content %}
<!-- 
    1. 우리기업을 구독한 이유를 골라주세요.
    제품을 사용해본 경험이 있어서
    가치관에 맞는 스타트업이라서
    디자인이 마음에 들어서
    SNS 홍보를 통해서
    > 다른 이유?

    2. 우리 기업의 첫 이미지를 작성해주세요.

    3. 우리 기업의 강점을 골라주세요.
    기업의 가치관(친환경)
    제품 디자인
    제품 품질
    홍보 방식
    > 다른 강점?

    4. 우리 기업의 보완점을 골라주세요.
    해당 기업만의 뚜렷한 가치관이 없음
    가격이 비싼 편임
    소비자와의 소통이 부족함
    홍보 수단이 부족함
    > 다른 보완점?

    5.다음은 판매량이 높은 3개의 제품입니다.
    우리 기업의 메인 제품은 무엇이라고 생각하시나요?

    6. 우리 기업을 설명할 수 있는 해시태그는 무엇인가요?
    #친환경적인 #혁신적인 #깔끔한_디자인 #감각적인 #저렴한_가격 #비건_제품

    7. 우리 기업에게 전달하고 싶은 말이 있다면 자유롭게 작성해주세요.

    객관식 : 퍼센트 바와 선택지 같이 제공. 기타로 적은 부분은 스크롤로 해결할 예정
    주관식 : 스크롤로 해결할 예정
 -->
 <div id="chart">
    <h1>우리 기업 설문 조사 통계</h1>
    <div class="question">
        <div class="chartDetail">
                <span>1. 우리 기업을 구독한 이유</span>
                <div id="chart-1" class="chartImg">{{ output|safe }}</div>
                <span style="font-size: 22px;">그 외 응답들</span>
                <div class="others">
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">친환경에 관심이 많아서 구독하게되었습니다.</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">친구의 추천으로 검색하게되었는데 괜찮네요 ㅎㅎ</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">옛날부터 관심있게 지켜봤는데 꾸준히 열심히 해서 맘에 들어요.</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">그냥 웹서핑 하다 맘에 들어서요~~</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">오프라인에서 구매해봤는데 괜찮더라구요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">군대에서 써봤는데 맘에 들었어요..</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">어머니 생신 선물로 사드렸는데 좋아하셔서 찾아보다가 구독했어요!</span>
                </div>
        </div>
        <div class="chartDetail">
                <span>2. 우리 기업의 첫 이미지를 작성해주세요.</span>
                <div class="others">
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">굉장히 뭔가 친환경적일 것 같아요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">마마 포레스트.. 푸근한 숲...?</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">포레스트가 들어가서 친환경에 가까울 것 같아요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">갬성이 느껴져요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">인스타용 물품?</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">그냥 친환경일 것 같아요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">마마가 왜 들어갔는지는 모르겠는데 몸에 좋을 것 같아요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">우리 집에 있으면 좋을 것 같은 이미지..?</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">뭔가 믿음이 가요</span>
                </div>
        </div>
        <div class="chartDetail">
                <span>3. 우리 기업의 강점을 골라주세요.</span>
                <div id="chart-2" class="chartImg">{{ output2|safe }}</div>
                <span style="font-size: 22px;">그 외 응답들</span>
                <div class="others">
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">제품 디자인도 좋은데 상품명이 맘에 들어요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">제품 컬러?</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">성분이 친환경적이라서 몸에 트러블이 없어요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">홈페이지 들어갔을 때 분위기가 좋아요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">제품 배송이 빨라서 맘에 들어요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">지난 번에 cs 잘 해주셔서 감동이에요 ㅎㅎㅎ</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">제품 설명을 잘 해놓으셔서 이해가 편해요</span>
                </div>
        </div>
        <div class="chartDetail">
                <span>4. 우리 기업의 보완점을 골라주세요.</span>
                <div id="chart-3" class="chartImg">{{ output3|safe }}</div>
                <span style="font-size: 22px;">그 외 응답들</span>
                <div class="others">
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">홍보는 자주해서 괜찮은데 홍보 내용이 좀 부실해요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">제품군이 약간 한정되어있는 것 같아서 아쉬워요</span>
                </div>
        </div>
        <div class="chartDetail">
                <span>5. 다음은 판매량이 높은 3개의 제품입니다.
                    우리 기업의 메인 제품은 무엇이라고 생각하시나요?</span>
                <div id="chart-4" class="chartImg">{{ output4|safe }}</div>
        </div>
        <div class="chartDetail">
                <span>6. 우리 기업을 설명할 수 있는 해시태그는 무엇인가요?</span>
                <div id="chart-5" class="chartImg">{{ output5|safe }}</div>
        </div>
        <div class="chartDetail">
                <span>7. 우리 기업에게 전달하고 싶은 말이 있다면 자유롭게 작성해주세요.</span>
                <div class="others">
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">지금처럼 꾸준하게 신제품 출시 해주세요!</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">저는 여드름 피부인데 혹시 여드름 피부용 제품은 출시하시나요?</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">다 좋은데 홍보하실 때 다양한 장점을 홍보해주세요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">혹시 오프라인 지점은 언제 하시나요 ㅠㅠ</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">온라인도 좋은데 직접 테스트 하고 사고 싶어요..</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">신제품도 좋은데 기존 제품들 중 향이 부족한 제품들이 있어요</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">택배 포장 시 뽁뽁이 한 번 더 감싸주세요.. 지난번에 한번 깨졌어요 ㅠㅜ</span>
                    <span style="background-color: white; padding-bottom:1%"> </span>
                    <span style="background-color : rgb(240, 240, 240); padding-left:2%" class="answer">할인 이벤트는 없나요..ㅎ...</span>
                </div>
        </div>
    </div>
 </div>
{% endblock %}